<!-- directiva de ng con IF para validar al inicio cuando no se selecciona un contacto
     sino existe entonces no pinta todo el div de detalle.
-->
<div class="u-full-width" *ngIf="contacto">

    <img [src]="contacto.avatar" alt=""/>
    <!-- Nombre del contacto -->
    <h5>{{ contacto.nombre }} {{ contacto.apellido}}</h5>
    <hr>
    
    <button type="button" (click)="notificarFacebook()">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </button>
    <button type="button" (click)="notificarTwitter()">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </button>

    <hr>
    <!-- detalle del email y telefono -->
    <div>{{ contacto.email }} | {{ contacto.telefono }}</div>
    
</div>