<form #contactoRef="ngForm" (ngSubmit)="notificarContacto(contactoRef)">
    <div class="row">
        <div class="offset-by-three six columns avatar">
            <img [src]="rutaAvatar">
        </div>
    </div>
    <div class="row">
        <div class="offset-by-three six columns">
            <label for="nombre">Nombre:</label>
            <input 
                id="nombre"
                type="text"
                class="u-full-width"
                name="nombre"
                ngModel 
                #nombreRf="ngModel"
                placeholder="Ej. Tim"
                required
                minlength="3">
                <!-- Mensajes de error. Validando el campo. Atra ves de la template reference variable tenemos accreso a la coleccion
                    de posibles errores-->
                <div *ngIf="nombreRf.touched && nombreRf.invalid"
                    class="mensaje-error">
                    <div *ngIf="nombreRf.errors.required">
                        El campo nombre es requerido
                    </div>
                    <div *ngIf="nombreRf.errors.minlength">
                        El nombre debe tener al menos {{ nombreRf.errors.minlength.requiredLength }} caracteres.
                    </div>
                </div>
        </div>
        
    </div>
    <!-- Apellidos -->
    <div class="row">
        <div class="offset-by-three six columns">
            <label for="apellido">Apellidos</label>
            <input
                id="apellido" 
                type="text" 
                class="u-full-width"
                ngModel
                #apellidosRf="ngModel"
                name="apellido"
                placeholder="Ej. Cook"
                required
                minlength="3">
            <!-- Mensajes de error. Validando el campo. Atra ves de la template reference variable tenemos accreso a la coleccion
                    de posibles errores-->
            <div *ngIf="apellidosRf.touched && apellidosRf.invalid"
                class="mensaje-error">
                <div *ngIf="apellidosRf.errors.required">
                    El campo apellidos es requerido
                </div>
                <div *ngIf="apellidosRf.errors.minlength">
                    El apellido debe tener al menos {{ apellidosRf.errors.minlength.requiredLength }} caracteres.
                </div>
            </div>
        </div>
    </div>
    <!-- Email -->
    <div class="row">
        <div class="offset-by-three six columns">
            <label for="email">Email</label>
            <input
                id="email" 
                type="text" 
                class="u-full-width"
                ngModel
                name="email"
                placeholder="Ej. tim.cook@mail.com"
            >
        </div>
    </div>
    <!-- Telefono -->
    <div class="row">
        <div class="offset-by-three six columns">
            <label for="telefono">Telefono</label>
            <input
                id="telefono" 
                type="text" 
                class="u-full-width"
                ngModel
                name="telefono"
                placeholder="Ej. 4243423234"
            >
        </div>
    </div>
    <!-- Twitter -->
    <div class="row">
        <div class="offset-by-three six columns">
            <label for="twitter">Twitter</label>
            <input
                id="twitter" 
                type="text" 
                class="u-full-width"
                ngModel
                name="twitter"
                placeholder="Ej. Lapicher"
            >
        </div>
    </div>
    <!-- Facebook -->
    <div class="row">
        <div class="offset-by-three six columns">
            <label for="facebook">Facebook</label>
            <input
                id="facebook" 
                type="text" 
                class="u-full-width"
                ngModel
                name="facebook"
                placeholder="Ej. Lapicher"
            >
        </div>
    </div>

    <!-- Guardar contacto -->
    <div class="row">
        <div class="offset-by-three six columns">
            <button 
                type="submit" 
                class="button-primary u-full-width"
                [disabled]="contactoRef.invalid"
                >
                Guardar
            </button>
        </div>
    </div>
    
</form>